# OS
.vscode/
.DS_Store

# PDFs specs
*.pdf

# Flutter SDK (use system Flutter installation instead)
flutter/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Node
node_modules/
.env
backend/.env.render
